{{#each players}}
    <div>{{name}} - {{choiceLabel}} ({{choice}})</div>
{{/each}}

<div>{{winner.name}} gagne !</div>

<div class="button-container">
    <a href="#" class="button">Rejouer</a>
</div>