@charset "UTF-8";

// HTML
$background-color: #fafafa;
$text-color: #212121;

// Players
$player-0-color: #F44336;
$player-1-color: #4CAF50;

// Fonts
$roboto-font-path: '../fonts/roboto/' !default;

// Buttons
$button-background-color: #01579B;
$button-text-color: #FFF;